[submodule "Bartender"]
	path = Bartender
	url = https://github.com/HouptLab/Bartender
[submodule "BarTab"]
	path = BarTab
	url = https://github.com/HouptLab/BarTab
[submodule "PointOfScale"]
	path = PointOfScale
	url = https://github.com/HouptLab/PointOfScale
